        /* common */

        @font-face {
            font-family: "noto-sans-kr";
            src: url("../font/Noto_Sans_KR/NotoSansKR-VariableFont_wght.ttf");
            font-size: normal;
        }

        a {
            text-decoration: none;
            color: black;
        }

        ul {
            list-style: none;
            margin: 0;
            padding: 0;
        }

        body {
            margin: 0 ;
            font-family: "noto-sans-kr";
        }