.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24/
}

.wrapper{}




/* content */
.content{
    margin: 90px 0 36px 0;
    text-align: center;
    gap: 27px;
}
.content-1{
    font-size: 32px;
    font-weight: 600;
}
.content-2{
    font-size: 26px;
    font-weight: 500;
}


/* category */
.category{
    max-width: 1348px;
    height: 80px;
    margin: auto;
    background-color: #29c3ff0d;
    margin-bottom:70px;
    padding-top: 13px;
}
.category>ul.category-list{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 83px;

}
.category>ul.category-list>li{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}
.category>ul.category-list>img{
    width: 45px;
    height: 45px;
    object-fit: cover;
}
.category>ul.category-list>li>p{
    margin: 0;
    font-size: 1rem;
}
/* 카테고리 반응형 */
@media (max-width:700px){
    .category{
        width: 100%;
    }
    .category>ul.category-list>li>p{
        font-size: 0.7rem;
    }
}

/* project 목록 */

.project{
    max-width: 1348px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 36px;
}
.project>.project-list{
    width: 100%;
    height: 380px;
    /* background-color: bisque; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin: 0;
    flex-wrap: wrap;
    position: relative;
}

.project>.project-list>.pl-1{
    width: 49%;
    height: 100%;
    display: flex;
    gap: 20px;


}
.project>.project-list>.pl-2{
    width: 49%;
    height: 100%;
    display: flex;
    gap: 20px;

}

.project>.project-list .project-item{
    width: 100%;
    height: 100%;
    border-radius: 20px 20px 0 0;
    background-color: #29c3ff1A;
    text-align: left;
    color: black;
    display: flex;
    flex-direction: column;
    /* overflow: hidden; */

}
.project>.project-list .project-item>img{
    width: 100%;
    height: 220px;
    object-fit: cover;
    border-radius: 20px 20px 0 0;


    
}
.project>.project-list .project-item>div{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    padding: 10px 0 10px 10px;
}
.project>.project-list .project-item>div>.project-content1{
    font-size: 1rem;
    font-weight: 900;
    margin: 0;
    color: #00c4c4;

}
.project>.project-list .project-item>div>.project-content2{
    font-size: 0.875rem;
    margin: 0;
    color: #212529;
}

.project>.project-list .project-item>div>.project-content3{
    /* display: flex; */
    font-size: 0.563rem;
    padding-top: 3px;
    border-radius: 6px;
    font-weight: 600;
    color: #868e96;

}
.project>.project-list .project-item>div>ul{
    display: flex;
    justify-content: start;
    gap: 10px;
}
.project>.project-list .project-item>div>ul>.project-content4{
    /* display: flex; */
    background-color: gainsboro;
    font-size: 0.563rem;
    padding: 3px 2px;
    border-radius: 6px;
    font-weight: 600;
    color: #495057;

}


 /* 프로젝트 반응형*/
@media (max-width:1024px){
    .project{}
    .project>.project-list{
        height: 100%;
        width: 100%;
        display: flex;
        flex-wrap: none;
    }
    .project>.project-list>.pl-1,
    .project>.project-list>.pl-2{
        width: 80%;
        height: 380px;
    }
    .project>.project-list .project-item{}
    .project>.project-list .project-item>img{
        /* height: ; */
    }    
    .project>.project-list .project-item>div{

    }
    
        
}
@media (max-width:790px){
    .project{}
    .project>.project-list{
        height: 100%;
        width: 100%;
        display: flex;
        flex-wrap: none;
    }
    .project>.project-list>.pl-1,
    .project>.project-list>.pl-2{
        width: 80%;
        height: 380px;
    }
    .project>.project-list .project-item{}
    .project>.project-list .project-item>img{}    
    .project>.project-list .project-item>div{}
    
        
}
@media (max-width:620px){
    .project{}
    .project>.project-list{
        height: 100%;
        width: 100%;
        display: flex;
        flex-wrap: none;
    }
    .project>.project-list>.pl-1,
    .project>.project-list>.pl-2{
        width: 90%;
        height: 100%;
        display: flex;
        flex-direction: column;
    }
    .project>.project-list .project-item{
        /* height: 200px; */
        /* height: ; */
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .project>.project-list .project-item>img{
        width: 50%;
    }    
    .project>.project-list> .project-item>.item-content{
        /* height: 5000px; */

        /* justify-content: center; */
    }
    
        
}


 /* 카테고리 반응형*/
 
