.slide-block {
    max-width: 1800px;

    background-color: #29c3ff1A;
    position: relative;
    margin: 0 auto;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
}

.slide-block input {
    display: none;
    margin: 0;
}

.slide-block .slide-wrap {
    max-width: 503px;
    margin: 0 auto;
    position: relative;


}

.slide-block .slide-list {
    white-space: nowrap;
    height: 300px;
    font-size: 0px;
    margin: 60px 0;
    padding: 0;
}

.control {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;

}

.slide-block .slide-list>li {
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    height: 100%;
    transition: .5s;
    padding : 0 40px;
    margin-top: 0;
    margin-bottom: 15px;
    z-index: 55;


}
.slide-block .slide-list>li>a {
    height: 100%;
    display: block;
    position: relative;
    /* font-size: 3rem; */
    filter: brightness(0.4);
    border-radius: 20px;
    margin-top: 0;

}


.slide-block .slide-list>li>a img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    object-fit: cover;
    margin-top: 0;



}
.slide-block .slide-list>.control{
    margin: 0;
}
.slide-block .slide-list>.control label {
    position: absolute;
    z-index: 10;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    color: white;
    font-size: 3rem;
    padding: 0.1em;
    display: none;
    border-radius: 15px;
    background-color: #00000050;
    pointer-events: auto;
    
}
.slide-block .slide-list>li>a div{
    width: 100%;
    position: absolute;
    bottom: 10%;
    white-space: wrap;
    color: #f2f2f2;
    margin-top: 0;
}
.slide-block .slide-list>li>a div>.p1{
    font-size: 1.5rem; font-weight: 600; text-align: center;
    margin: 0;
}
.slide-block .slide-list>li>a div>.p2{
    font-size: 1rem; font-weight: 500; text-align: center;
    margin: 0;
}
@media (max-width :1024px) {
    .slide-block .slide-wrap{
        width: 386px;
    }
    .slide-block .slide-list{
        height: 183px;
        margin: 40px 0;
    }
    .slide-block .slide-list>li{
        margin: 0;
    }
    .slide-block .slide-list>li>a div>.p1{
        font-size: 1.0rem;
    }
    .slide-block .slide-list>li>a div>.p2{
        font-size: 0.7rem;
    }
    .slide-block .slide-list>.control label {
        font-size: 2rem;
    }
    
}
@media (max-width :480px) {
    .slide-block .slide-wrap{
        width: 100%;
    }
    .slide-block .slide-list{
        width: 100%;
    }
    .slide-block .slide-list>li{
        margin: 0;
    }
    .slide-block .slide-list>li>a div>.p1{
        font-size: 1.1rem;
    }
    .slide-block .slide-list>li>a div>.p2{
        font-size: 0.8rem;
    }
    .slide-block .slide-list>.control label {
        font-size: 2rem;
    }

    
}






input[type="radio"]#slide-2:checked~.slide-wrap>ul.slide-list>.control>.control-2>label {
    display: block;
}

input[type="radio"]#slide-3:checked~.slide-wrap>ul.slide-list>.control>.control-3>label {
    display: block;
}

input[type="radio"]#slide-4:checked~.slide-wrap>ul.slide-list>.control>.control-4>label {
    display: block;
}

input[type="radio"]#slide-1:checked~.slide-wrap>ul.slide-list>.control>.control-1>label {
    display: block;
}

.slide-block>input[type="radio"]#slide-2:checked~.slide-wrap>ul.slide-list>li {
    transform: translateX(-100%);
}

.slide-block>input[type="radio"]#slide-3:checked~.slide-wrap>ul.slide-list>li {
    transform: translateX(-200%);
}

.slide-block>input[type="radio"]#slide-4:checked~.slide-wrap>ul.slide-list>li {
    transform: translateX(-300%);
}

.slide-block>input[type="radio"]#slide-1:checked~.slide-wrap>ul.slide-list>li {
    transform: translateX(-0%);
}

.slide-block>input[type="radio"]#slide-2:checked~.slide-wrap>ul.slide-list>li:nth-child(2)>a {
    scale: 1.2;
    -webkit-box-shadow: 0 20px 10px -6px #777;
    -moz-box-shadow: 0 20px 10px -6px #777;
    box-shadow: 0 20px 10px -6px #777;
    filter: brightness(1);

}

.slide-block>input[type="radio"]#slide-3:checked~.slide-wrap>ul.slide-list>li:nth-child(3)>a {
    scale: 1.2;
    -webkit-box-shadow: 0 20px 10px -6px #777;
    -moz-box-shadow: 0 20px 10px -6px #777;
    box-shadow: 0 20px 10px -6px #777;
    filter: brightness(1);
}

.slide-block>input[type="radio"]#slide-4:checked~.slide-wrap>ul.slide-list>li:nth-child(4)>a {
    scale: 1.2;
    -webkit-box-shadow: 0 20px 10px -6px #777;
    -moz-box-shadow: 0 20px 10px -6px #777;
    box-shadow: 0 20px 10px -6px #777;
    filter: brightness(1);
}

.slide-block>input[type="radio"]#slide-1:checked~.slide-wrap>ul.slide-list>li:nth-child(1)>a {
    scale: 1.2;
    -webkit-box-shadow: 0 20px 10px -6px #777;
    -moz-box-shadow: 0 20px 10px -6px #777;
    box-shadow: 0 20px 10px -6px #777;
    filter: brightness(1);
}



.slide-block .slide-list .left {
    left: 20px;

}


.slide-block .slide-list .right {
    right: 20px;

}
